body {
    font-family: 'Noto Sans TC', sans-serif;
    background: #7e9a9a; 
    color: rgb(0, 0, 0); 

    padding: 50px 0;
  }

  .container {
    width: 80%;
    max-width: 1200px;
    text-align: center; 
    margin: 0 auto;
  }
  
  .center {
    margin: auto;
    width: 30%;
    padding: 50px;
  }

  .filtered {
    margin: 0;
    padding: 0;
    position: relative;
  }
  .filtered li {
    background:white;
    list-style: none;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    margin:0;
    padding:20px;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
  }