body {
    font-family: 'Noto Sans TC', sans-serif;
    background: #7e9a9a; 
    color: rgb(0, 0, 0); 
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    padding: 50px 0;
  }

  .container {
    width: 80%;
    max-width: 1200px;
    text-align: center; 
    margin: 0 auto;
  }
  
  .center {
    margin: auto;
    width: 30%;
    padding: 10px;
    text-align: center;
    
  }
  /*Styles for Search Form*/
  input {
    background: #f1e3ce;
    width: 120%;
    padding: 10px;
    margin: auto;
    position: relative;
    right: 10%;
    text-align: left;
    border: 5px solid #f1e3ce;
    border-radius: 5px;
    font-size: 35px;
  }

  .search-form {
    max-width: 500px;
    margin: 20px auto;
  }

  /* Styles for filtered Resturants*/
  .filtered {
    margin: 15px;
    padding: 15px;
    position: relative;
    white-space: normal;
    margin-bottom: 20px;
  }
  .filtered li {
    border:transparent;
    border-radius: 5px;
    margin:10px;
    margin-bottom: 20px;
    padding:10px;
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg, rgba(246,216,172,1) 32%, rgba(219,152,51,0.8242647400757178) 100%);
    display:list-item;
    list-style: none;
  }

  .name {
    font-weight: bold;
  }